@font-face {
    font-family: 'Inconsolata'
    font-style: normal
    font-weight: 400
    src: local('Inconsolata'), url('../fonts/Inconsolata.woff') format('woff')
}

@font-face {
    font-family: 'Noticia Text';
    font-style: normal;
    font-weight: 400;
    src: local('Noticia Text'), local('NoticiaText-Regular'), url('../fonts/NoticiaText.woff') format('woff');
}

@font-face {
    font-family: 'Strait'
    font-style: normal
    font-weight: 400
    src: local('Strait'), local('Strait-Regular'), url('../fonts/Strait.woff') format('woff')
}

html, body
    height: 100%

body
    background: #F4F4F4

header
    background: #D8D8D8
    border-bottom: 2px solid #F4F4F4
    padding: 0 20px
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7)

    h1
        margin: 0
        text-transform: uppercase
        font-family: Strait
        font-size: 22px
        font-weight: 400
        color: #484848
        text-shadow: 1px 1px 0 rgba(255,255,255,0.5)
        display: inline-block
        vertical-align: middle
        padding: 14px 0

        span
            color: #000
            margin-right: 10px
            font-family: 'Noticia Text'
            font-size: 24px

    a#execute
        background: url('../img/calc.png') no-repeat 0 0
        width: 38px
        height: 40px
        display: inline-block
        cursor: pointer
        vertical-align: bottom
        margin-bottom: 7px

    nav
        ul
            list-style-type: none
            font-family: 'Noticia Text'
            margin: 0

            li
                display: inline-block

                a, a:hover
                    color: #484848
                    padding: 4px 16px
                    display: block
                    text-transform: capitalize

                    &.active
                        background: #F4F4F4

                    &:not(.active)
                        text-shadow: 1px 1px 0 rgba(255,255,255,0.5)

#main
    padding: 20px
    background: #F4F4F4
    font-family: monospace

    #code
        width: 32%
        float: left
        margin-right: 2%
        position: relative

        textarea
            height: 100%
            min-height: 100%
            display: block
            border-radius: 0
            font-size: 12px

        div.CodeMirror
            border: 1px solid #b3b3b3
            background: #FFF

            *
                font-size: 13px
            
            div.CodeMirror-focused div.CodeMirror-selected
                background: #e7fbff

        span#message
            position: absolute
            bottom: 0
            left: 0
            color: #FFF
            width: 100%
            z-index: 999

            &.error
                padding: 4px
                background: #850071

            &.success
                padding: 4px
                background: #006699

    #table
        width: 66%
        float: left
        font-family: monospace

        #toolbar
            z-index: 999
            margin: 0

            li label
                cursor: default

            li a
                cursor: pointer

        div.jqx-grid-row-header, div.jqx-grid-column-header
            background: #F4F4F4
            text-align: center

        div.jqx-grid-cell, div.jqx-grid-cell *,
        div.jqx-grid-row-header, div.jqx-grid-row-header *,
        div.jqx-grid-column-header, div.jqx-grid-column-header *
            color: #484848
            font-size: 12px

        div.jqx-grid-column-header, div.jqx-grid-cell
            border-color: #CCC

            div
                margin-top: 6px !important
            input
                font-family: monospace
                font-size: 12px
                padding-left: 3px
                border-color: #006699
                background: #E7FBFF
                color: #000

    &:after
        clear: both
        display: block
        content: ""