@import url("http://fonts.googleapis.com/css?family=Strait");
@import url("http://fonts.googleapis.com/css?family=Noticia+Text");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono");
html,
body {
  height: 100%;
}
body {
  background: #f4f4f4;
}
header {
  background: #d8d8d8;
  border-bottom: 2px solid #f4f4f4;
  padding: 0 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}
header h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: Strait;
  font-size: 22px;
  font-weight: 400;
  color: #484848;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  padding: 14px 0;
}
header h1 span {
  font-family: 'Noticia Text';
  font-size: 24px;
  color: #000;
  margin-right: 10px;
}
header nav ul {
  list-style-type: none;
  font-family: 'Noticia Text';
  margin: 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a,
header nav ul li a:hover {
  color: #484848;
  padding: 4px 16px;
  display: block;
}
header nav ul li a.active,
header nav ul li a:hover.active {
  background: #f4f4f4;
}
header nav ul li a:not(.active),
header nav ul li a:hover:not(.active) {
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}
#main {
  padding: 20px;
  background: #f4f4f4;
  height: 80%;
}
#main #code {
  height: 100%;
  margin-right: 4%;
  position: relative;
}
#main #code textarea {
  height: 100%;
  min-height: 100%;
  display: block;
  border-radius: 0;
  font-size: 12px;
}
#main #code span {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 4px;
  width: 100%;
}
#main #code span.alert {
  background: #850071;
}
#main #code span.success {
  background: #227e0d;
}
#main #code,
#main table {
  width: 48%;
  float: left;
  font-family: 'Droid Sans Mono';
}
#main table {
  border-color: #ccc;
  border-collapse: collapse;
}
#main table th,
#main table tr,
#main table td {
  color: #484848;
  font-size: 12px;
}
#main table th,
#main table td {
  padding: 4px !important;
}
#main table th {
  background: #f4f4f4;
  height: 27px;
  border-right: 1px solid #d8d8d8;
  text-align: center;
}
#main table tr {
  border-bottom: 1px solid #d8d8d8;
}
#main table td {
  background: #fff;
  border-right: 1px solid #d8d8d8;
}
#main table td.edit {
  background: #e7fbff;
  border: 2px solid #0055e1;
  color: #000;
}
#main:after {
  clear: both;
  display: block;
  content: "";
}
